.con {
    background-color: #2a2a2a;
}

.con2 {
    background-color: #4b4b4b;
}

.con3 {
    background-color: #a5a5a5;
}

.con4 {
    background-color: #8d8d8d;
}

.image {
    background-color: #afafaf;
}


/* BASICS */

body {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    background-color: #000E20;
}

.hidden {
    display: none;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img { 
	border: none; /*Remove border if image is a link*/
}

/* COMMON ELEMENTS */

.nav li {
	display: inline;
	list-style-type: none;
    margin-left: 50px;
}

/* .logo {
    width: 8em;
} */

.bigtitle {
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
    font-size: 34px;
}

.smalltitle {
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.bodytext {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    font-size: 36px; 
    font-weight: bold;
}


/* HEADER */

#header-con {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 90px;
}

#header-logo {
    height: 54px;
    padding-left: 30px;
}

#main-nav {
    display: none;
}

#mobile-nav {
    justify-content: center;
    align-self: center;
}

.burger {
    height: 10px;
	background-color:#fff;
	display: block;
	margin-bottom: 10px;
}

/* PRODUCTS PAGE */

/* PRODUCTS */

#flavours-hero {
    text-align: center;
    padding-bottom: 50px;
}

#flavours-hero h2 {
    margin-bottom: 30px;
    padding-top: 25px;
    text-align: center;
}

.bottlepic {
    border-radius: 20px;
    height: 386px;
    width: 218px;
    }

.flavour-title {
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
    font-size: 26px;
}

#all-flavours {
    display: flex;
    flex-direction: column;
}

#all-flavours div {
    align-self: center;
    margin-top: 30px;
}

#flavours-blurb {
    margin-top: 30px;
    height: 200px;
}

#flavours-blurb p {
    text-align: left;
    padding: 50px;
    color: #000E20;
    line-height: 50px;
    kerning: 50px;
    border-radius: 20px;
}

/* FILLER IMAGE */
    #filler-image {
        height: 145px;
    }

/* RETAILERS */

#retailers h2 {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.store-logo {
    margin-bottom: 48px;
    /* width: 358px; */
    height: 155px;
}

#rocketship {
    display: none;
}

#retailers h3 {
font-size: 12px;
font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
grid-row: 3/4;
margin-bottom: 25px;
}

.top-button {
width: 44px;
height: 50px;
padding-bottom: 50px;
grid-row: 3/4;
justify-self: right;
}

/* FOOTER */

#footer-con {
    background-color: #000E20;
}

/* newsletter signup */
#footer-newsletter {
    display: none;
}

#footer-newsletter h3 {
    padding-top: 50px;
}

#news-email {
	display: inline-block;
	font-family: inherit;
	font-size: 26px;
	border: none;
	margin-top: 60px;
	padding-left: 20px;
	/* width: 674px; */
	height: 80px;
    border-radius: 10px;
}

#signup {
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #000;
	width: 260px;
	height: 80px;
	border: none;
    border-radius: 10px;
}

#footer-logo {
    height: 54px;
    /* width: 127px; */
    text-align: center;
    margin-top: 25px;
}

#footer-nav {
    margin-top: 33px;
    text-align: center;
}

#copyright {
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #ffffff50;
}

/* TABLET SIZE */ 
@media screen and (min-width: 900px) {
    #header-con {
        height: 150px;
    }

    #header-logo {
        height: 113px;
    }

    /* flavours */
    .bottlepic {
    border-radius: 20px;
    height: 321px;
    width: 169px;
    }

    #all-flavours {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
    }

    #all-flavours div {
        margin-right: 7px;
        }

    #flavours-blurb {
        height: 100px;
        margin-bottom: 50px;
    }

    /* FILLER IMAGE */
    #filler-image {
        height: 347px;
    }

    /* RETAILERS */
    #rocketship {
        display: block;
        height: 560px;
    }

    #retailers h3 {
        font-size: 24px;
    }

    /* FOOTER */
    #footer-logo {
        height: 80px;
        /* width: 190px; */
        margin-top: 57px;
    }


}

/* DESKTOP SIZE */
@media screen and (min-width: 1640px) {
    .bigtitle {
        font-size: 65px;
    }

    #header-con {
        height: 160px;
    }

    #header-logo {
        height: 130px;
    }

    #main-nav {
        display: block;
        height: 130px;
    }

    #mobile-nav {
        display: none;
    }

    /* flavours */
    #flavours-hero h2 {
        margin-bottom: 55px;
        padding-top: 25px;    
    }
    
    .bottlepic {
        height: 603px;
        width: 318px;
        }

    #all-flavours div {
        margin-right: 12px;
        }

    #flavours-blurb {
        margin-top: 50px;    
        height: 160px;
    }

    /* FILLER IMAGE */
    #filler-image {
        height: 650px;
    }

    /* RETAILERS */
    .store-logo {
        margin-bottom: 150px;
        width: 672px;
        height: 200px;
    }

    #rocketship {
        height: 900px;
    }

    #retailers h3 {
        font-size: 45px;
    }

    /* FOOTER */
    #footer-newsletter {
        display: block;
    }

    #footer-logo {
        grid-row: 1/2;
        margin-top: 100px;
        height: 169px;
        /* width: 400px; */
    }

    #footer-nav {
        margin-top: 52px;
    }

}